/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.blog-title {
  font-size: 24px;
}

.navigation ul {
  list-style: none;
}

.navigation ul li {
  display: inline;
  margin-right: 10px;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
}

.search-bar {
  margin-top: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for large screens */
  grid-gap: 20px;
}

@media (max-width: 991px) {
  /* Medium screens */
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  /* Small screens */
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.blog-card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  margin: 5px 0;
}

.blog-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.blog-card h2 {
  font-size: 20px;
  margin-top: 10px;
}

.blog-card p {
  margin: 5px 0;
}

.grid-container {
display: grid;
grid-gap: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
/* Medium screens */
.grid-container {
  grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 767px) {
/* Small screens */
.grid-container {
  grid-template-columns: 1fr;
}
}
.blog-card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  margin: 5px 0;

}

.blog-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.blog-card h2 {
  font-size: 20px;
  margin-top: 0px;
}

.blog-card p {
  margin: 5px 0;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.footer-navigation ul {
  list-style: none;
}

.footer-navigation ul li {
  display: inline;
  margin-right: 10px;
}

.footer-navigation ul li a {
  text-decoration: none;
  color: #333;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f7cdcd;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.hover-effect:hover {
  /* Add your desired styles here */
  /* For example, change background color and text color */
  background-color: #5c5959;
  color: #ffffff;
}
